ol{
    display: flex;
    justify-content: space-around;
    list-style-type:none;
    margin: 0;
    padding: 10px;
    background-color: brown;
    color: white;
}
.link{
    text-decoration: none;
    color: white;
}
.link:hover{
    background-color: aliceblue;
    color: chocolate;
    border-radius: 10px;
}